/* cabeçalho, cntendo o meu nome, abas de navegação e links para rede sociais*/
#cabecalho{
    background-color: #00a8ec;
    padding-left: 5.6%;
    padding-right: 5.6%;
}
#cabecalho div{
    display: inline-block;
    vertical-align: middle;    
}
/*meu nome*/
#autor{
    font-size: 150%;
    padding-right: 15.2%;
}
#autor h1{    
    margin: 0px;
    color: #212121;
}
/*abas de navegação. Tamanhos na fonte certa: 42px 29px*/
#menu a{    
    display: inline-block;    
    color: #212121;
    text-decoration: none;    
}
#menu a:hover {
    color: #494949;
}
#ativo{
    text-decoration: underline;
}
#portfolio{padding-right: 29px; }
#sobre{ padding-left: 29px; padding-right: 29px; }
#contato{ padding-left: 29px; }
/*redes sociais*/
#redes-sociais{   
    float: right;   
}
#redes-sociais a{ 
    display: inline-block; 
    padding-top: 10px;
}
#facebook-icon{padding-right: 24px; }
#github-icon{ padding-left: 24px; padding-right: 24px; }
#linkedin-icon{ padding-left: 24px; }
/*corpo da aba 'portfólio'*/
#fundo{
    border: solid;
    border-color: #141414;
    background-color: #141414;
    height: 820px;
    margin: 0px 0px 0px 0px;
}
#corpo-home{
    background-color: #212121;
    height: 688px;
    margin: 66px 0px 66px 0px;
}

#coluna-1{
    margin-left: 5.6%;
    float: left;
}
#coluna-2{
    margin-right: 5.6%;
    float: right;
}

.projeto{
    margin-top: 58px;
    border: solid;
    border-color: #00a8ec;    
    width: 748px;
    height: 255px;
    position: relative;
}
.projeto img{
    width:748px;
    height: 255px;
}
.titulo-projeto{
    background-color: #00a8ec; 
    margin-top: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 10px; 
}
/*corpo da aba 'sobre'*/
#corpo-sobre{
    background-color: #212121;
    height: 688px;
    margin: 66px 0px 66px 0px;
    color: #00a8ec;
    font-size: 130%;
}
#corpo-sobre p{
    color: #777777;
}

#corpo-sobre div{    
    display: inline-block;
}
#bloco-sobre-1{    
    margin-top: 25px;
    margin-left: 15.9%;
    float: left;
    width: 395px;
}

#bloco-sobre-2{
    margin-top: 25px; 
    width: 480px;
    float: right;
    margin-right: 15.9%;
}
/*Ajustes de responsividade*/
/*para telas menores que 1737px de largura*/
@media screen and (max-width: 1737px) {
  #cabecalho {
    background-color: yellow;        
  }
  #autor{
    padding-right: 11.2%;
  }
  #fundo{
    height: 1480px;
  }
  #corpo-home{
    height: 1348px;
  }
  #corpo-home div{
    margin-left: 17%;
  }
  #coluna-2{
    float: left;
    margin-left: 5.6%;
    margin-right: 0%;    
  }
}
/*para telas menores que 1462px de largura*/
@media screen and (max-width: 1462px) {
  #cabecalho {
    background-color: tan;            
  }  
  #bloco-sobre-1{
    margin-left: 11.2%;
  }
  #bloco-sobre-2{
    margin-right: 11.2%;
  }
  #redes-sociais{
    visibility: hidden;
  }
}
/*para telas menores que 1462px de largura*/
@media screen and (max-width: 1062px) {
  #cabecalho {
    background-color: green;            
  }  
  #bloco-sobre-2{

    margin-right: 5.6%;
  }
  #redes-sociais{
    visibility: hidden;
  }
}