/* cabeçalho, cntendo o meu nome, abas de navegação e links para rede sociais*/
#cabecalho{
    background-color: #00a8ec;
    padding-left: 5.9%;
}
#cabecalho div{
    display: inline-block;
    vertical-align: middle;
}
/*meu nome*/
#autor{
    font-size: 150%;    
    margin-right: 11.9%;
}
#autor h1{    
    margin: 0px;
    color: #212121;
}
/*abas de navegação. Tamanhos na fonte certa: 42px 29px*/
#abas{ 
    margin-right: 11.9%;
}
#menu a{    
    display: inline-block;
    color: #212121;
}
#portfolio{padding-right: 29px; }
#sobre{ padding-left: 29px; padding-right: 29px; }
#contato{ padding-left: 29px; }
/*redes sociais*/
#redes-sociais{
    border: none;    
    margin-right: 5.9%;    
}
#redes-sociais a{ 
    display: inline-block; 
    padding-top: 15px;
    padding-bottom: 15px;
}
#facebook-icon{padding-right: 24px; }
#github-icon{ padding-left: 24px; padding-right: 24px; }
#linkedin-icon{ padding-left: 24px; }

/*corpo da home*/
#fundo{
    border: solid;
    border-color: #141414;
    background-color: #141414;
    height: 820px;
    margin: 0px 0px 0px 0px;
}
#corpo{
    background-color: #212121;
    height: 688px;
    margin: 66px 0px 66px 0px;
}
#corpo div{
    margin-left: 5.9%;
    display: inline-grid;
}
.projeto{
    margin-top: 58px;
    border: solid;
    border-color: orange;    
    width: 748px;
    height: 255px;
}