body{
  margin: 0;
  padding: 0;
}
/* cabeçalho, cntendo o meu nome, abas de navegação e links para rede sociais*/
#cabecalho{
    background-color: #00a8ec;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding-left: 5.6%;
    padding-right: 5.6%;  
}
/*meu nome*/
#autor{
    font-size: 150%;
}
#autor h1{    
    margin: 0px;
    color: #212121;
}
/*abas de navegação. Tamanhos na fonte certa: 42px 29px*/
#menu a{    
    display: inline-block;    
    color: #212121;
    text-decoration: none;    
}
#menu a:hover {
    color: #494949;
}
#ativo{
    text-decoration: underline;
}
#portfolio{padding-right: 29px; }
#sobre{ padding-left: 29px; padding-right: 29px; }
#contato{ padding-left: 29px; }
#menu-compacto{
    display: none;
}
/*redes sociais*/
#redes-sociais a{ 
    display: inline-block; 
}
#facebook-icon{padding-right: 24px; }
#github-icon{ padding-left: 24px; padding-right: 24px; }
#linkedin-icon{ padding-left: 24px; }
/*corpo da aba 'portfólio'*/
#fundo-home{
    border: solid;
    border-color: #141414;
    background-color: #141414;
    height: 820px;
    margin: 0px 0px 0px 0px;
}
#corpo-home{
    background-color: #212121;
    height: 688px;
    margin: 66px 0px 66px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.projeto{
    margin-top: 58px;
    border: solid;
    border-color: #00a8ec;    
    width: 748px;
    height: 255px;
    position: relative;
}
.projeto img{
    width:748px;
    height: 255px;
}
.titulo-projeto{
    background-color: #00a8ec; 
    margin-top: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 10px; 
}
/*corpo da aba 'sobre'*/
#fundo-sobre{
    border: solid;
    border-color: #141414;
    background-color: #141414;
    height: 820px;
    margin: 0px 0px 0px 0px;
}
#corpo-sobre{
    background-color: #212121;
    height: 688px;
    margin: 66px 0px 66px 0px;
    color: #00a8ec;
    font-size: 130%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#corpo-sobre p{
    color: #777777;
}
#bloco-sobre-1{    
    width: 395px;
}
#bloco-sobre-2{    
    width: 480px;    
}
/*corpo da aba 'contato'*/
#fundo-contato{
    border: solid;
    border-color: #141414;
    background-color: #141414;
    height: 820px;
    margin: 0px 0px 0px 0px;
}
#corpo-contato{
    background-color: #212121;
    height: 688px;
    margin: 66px 0px 66px 0px;
}
/*Ajustes de responsividade*/
/*Quando o menu não tem mais espaço interno, a coluna da esquerda*/
@media screen and (max-width: 1280px){  
  #redes-sociais{
    display: none;
  } 
}
/*Quando o menu não tem mais espaço interno, substitui o menu normal pelo mobile*/
@media screen and (max-width: 996px){    
  #menu{
    display: none;
  }
  #menu-compacto{
    display: block;
  }
  #fundo-sobre{
    height: 1340px;
  }
  #corpo-sobre{
    padding-top: 14px;
    height: 1200px;
  }
  #corpo-sobre-2{
    width: 395px;
  }  
}


